<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}NSTV~{% endblock %}</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- CSS Reset -->
{% load static %}

<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<style>
  table {
    border-collapse: collapse;
    width: 75%;
  }
  th {
    height: 70px;
  }
  #navbar {
    background-color: #8f8e8e;
    overflow: hidden;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 14px;
    text-decoration: none;
}

#navbar li a:hover {
    background-color: #111;
}

</style>

</head>

<body>
<div id="navbar">
    {% block navbar %}
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/shows_index">Show Index</a></li>
        <li><a href="/add_show">Add Show</a></li>
        <li><a href="/movies_index">Movies Index</a></li>
        <li><a href="/add_movie">Add Movie</a></li>
        <li><a href="/search">Search</a></li>
    </ul>
    {% endblock %}
</div>

    <div id="content">
    <br>
    <br>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
