<!DOCTYPE html>
<html lang="en">
<head>
    <title>NSTV~</title>
    <title>{% block title %}NSTV~{% endblock %}</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- CSS Reset -->
{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<style>
  table {
    border-collapse: collapse;
    width: 75%;
  }
  th {
    height: 70px;
  }
</style>

</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/shows_index">Show Index</a></li>
            <li><a href="/movie_index">Movie Index</a></li>
            <li><a href="/add_show">Add Show</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
