{% extends "base.html" %}
{% load static %}

{% block title %}NSTV~ Search{% endblock %}

{% block content %}
<form method="get" action="{% url 'search_results' %}">
    <input type="text" name="query" placeholder="Search for titles, actors...">
    <div>
        <label for="movies">Movies</label>
        <input type="checkbox" id="movies" name="movies" value="on">
    </div>
    <div>
        <label for="shows">Shows</label>
        <input type="checkbox" id="shows" name="shows" value="on">
    </div>
    <div>
        <label for="episodes">Episodes</label>
        <input type="checkbox" id="episodes" name="episodes" value="on">
    </div>
    <div>
        <label for="cast_members">Cast Members</label>
        <input type="checkbox" id="cast_members" name="cast_members" value="on">
    </div>
    <!-- Add checkboxes for episodes and cast members similarly -->
    <button type="submit">Search</button>
</form>

<center>
{% for key, items in results.items %}
    <h2>{{ key|title }}</h2>
    {% for item in items %}
        {% if key == 'cast_members' %}
            <a href="/cast/{{ item.id }}"><p>{{ item.name }}</p></a>
        {% elif key == 'movies' %}
            <a href="/movies/{{ item.id }}"><p>{{ item.name }}</p></a>
        {% elif key == 'shows' %}
            <a href="/shows/{{ item.id }}"><p>{{ item.title }}</p></a>
        {% elif key == 'episodes' %}
            <a href="/episodes/{{ item.id }}"><p>{{ item.title }}</p></a>
        {% endif %}
    {% empty %}
        <p>No {{ key }} found.</p>
    {% endfor %}
{% endfor %}
</center>
{% endblock %}