<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<head>
  <meta charset="UTF-8">
    <title>NSTV~ Shows Index</title>
</head>
    <center><button id="move_files_to_plex">Move downloaded files to Plex folder</button></center>

    <script>
$("#move_files_to_plex").click(function() {
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        let cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            let cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

let csrf_token = getCookie('csrftoken');
    $.ajax({
        type: "POST",
        url: "/shows/move_downloaded_files_to_plex",
        headers: {
            "X-CSRFToken": csrf_token
        },
        success: function(data) {
          location.reload();  // Refresh the page here
        }
    });
});
</script>
{% load render_table from django_tables2 %}
<html lang="en">

<body>
<center>
<table>
    {% render_table shows %}
</table>
</center>

{% endblock %}
