<!DOCTYPE html>
{% extends "base.html" %}
{% load render_table from django_tables2 %}

<html lang="en">
<head>
  <meta charset="UTF-8">
    <title>NSTV~ Shows Index</title>
</head>
<body>
{% block content %}

<div style="text-align: center;"><h1>{{ show.title }}</h1></div>
    <center><button id="get_info_from_tvdb">Get Info From TVDB</button></center>



<script>
$("#get_info_from_tvdb").click(function() {
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        let cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            let cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

let csrf_token = getCookie('csrftoken');
    $.ajax({
        type: "POST",
        url: "/shows/{{ show.id }}/add_episodes_to_database",
        headers: {
            "X-CSRFToken": csrf_token
        },
        success: function(data) {
            // Do something with the response if you want
        },
        error: function() {
            alert('Something went wrong!');
        }
    });
});
</script>

<center>
    <h3>Episodes</h3>
    {% render_table episodes %}
</center>

{% endblock %}
